---
type ParagraphBlock = {
  _key: string;
  style: "subtitle" | "small" | "large";
};

type Props = {
  node: ParagraphBlock;
};

const { node } = Astro.props;
---

<p class={node.style}>{(<slot />)}</p>
