@import '../../../lib/helpers';

.wrapper {
  --answerBackground: hsla(var(--tertiaryValues), 25%);

  &[data-variant='dark'] {
    --answerBackground: var(--white);

    background-color: var(--body);
  }

  [class*='ctaBlock'] {
    margin-top: fluid(16, 24);
  }
}

.container {
  --gap: #{fluid(6, 16)};

  display: grid;
  gap: var(--gap);

  @include richTextColumns();
}

h2.title {
  font-size: var(--font-size-h3);
  margin-bottom: fluid(6, 20);
  text-align: center;

  [data-variant='dark'] & {
    color: var(--white);
  }
}

.question {
  @include buttonReset();

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: var(--secondary);
  font-size: var(--font-size-h5);
  color: var(--white);
  padding: 8px fluid(12, 24);
  width: 100%;
  scroll-margin: calc(var(--headerHeight) + var(--gap));

  svg {
    width: 9px;
    transform: translateX(-3px) rotate(90deg);

    @include transition('transform');
  }

  &[aria-expanded='true'] svg {
    transform: translateX(-3px) rotate(270deg);
  }
}

.answer {
  background-color: var(--answerBackground);
  padding: fluid(12, 16) fluid(12, 24);
}
