@use "../../../lib/helpers" as *;

.container {
  [class*="ctaBlock"] {
    grid-column: 1 / -1;
    justify-content: center;
  }
}

.contentWrapper {
  text-align: center;

  @include richTextColumns();
}

h2.title {
  font-size: var(--font-size-h3);

  &:has(+ div) {
    margin-bottom: 0.5em;
  }
}

ol.cards {
  --items: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: 1 / -1;
  padding: 0;
  list-style-type: none;
  counter-reset: step-counter;

  li {
    --accentColour: var(--tertiary);
    --hoverColour: var(--body);

    counter-increment: step-counter;
    position: relative;
    color: var(--body);
    flex: 0 0 calc(100% / var(--items));
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: fluid(140, 220);
    padding: 16px 24px;
    overflow: hidden;
    max-width: 350px;

    &:has(.image) {
      padding: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 700;
      font-size: 150px;
      line-height: 0.825;
      content: counter(step-counter);
      opacity: 0.15;
      z-index: 0;
    }

    &[data-theme="default"] {
      background-color: var(--white);
    }

    &[data-theme="navy"] {
      background-color: var(--body);
    }

    &[data-theme="blue"] {
      background-color: var(--secondary);
    }

    &[data-theme="light-blue"] {
      --accentColour: var(--body);
      --hoverColour: var(--white);
      background-color: var(--tertiary);
    }

    &[data-theme="yellow"] {
      background-color: var(--highlight);
    }

    &[data-theme="navy"],
    &[data-theme="blue"] {
      color: var(--white);
    }

    > * {
      z-index: 1;
    }
  }

  @include from(mobileLarge) {
    --items: 2;
  }

  @include from(tablet) {
    --items: 3;
  }

  @include from(desktop) {
    --items: 4;
  }
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 350 / 220;
}
